.collection {
  display: flex;
  font-family: Arial, sans-serif;
  flex-direction: row;
}

.main-content {
  width: 80%;
  padding: 20px;
  text-align: left;
}

.main-content h2 {
  margin-bottom: 10px;
}

.main-content p {
  margin-bottom: 20px;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.result-text {
  color: #77776e;
  font-size: 14px;
  line-height: 14px;
  padding: 8px;
  text-align: center;
}

.solid {
  border-top: 1px solid #bbb;
}
