.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: #2b2b2b;
  border-bottom: 1px solid #d9d9d6;
}

.logo {
  display: flex;
  align-items: center;
}

.user-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-logo {
  width: 30px;
  height: 30px;
}

.nav {
  /* flex-grow: 1; */
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.active-link {
  background: #ece6fa;
  padding: 12px;
  gap: 3px;
  border-radius: 12px;
  color: #6c3cd7;
  text-decoration: none;
}

.user-logo {
  height: 40px;
  border-radius: 50%;
}
